body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    position: relative;
    width: 1024px;
    height: 768px;
}

#barcodeCanvas {
    position: absolute;
    top: 230px;
    left: 210px;
    height: 100px;
    width: auto;
    z-index: 1;
    background-color: white; /* To check if the canvas is visible */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    height: 768px;
    z-index: 2;
    pointer-events: none;
}
